@using Abp.Web.Mvc.Extensions;
@using Webdiyer.WebControls.Mvc;
@using MyPassword.Application.Product.Dtos;
@model MyPassword.PagedResultExtDto<ProductDto>
@section scripts{
    @Html.IncludeScript("~/views/product/index.js");
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>产品管理</h2>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>产品管理</h2>

                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);" class="waves-effect waves-black" data-toggle="modal" data-target="#ProductCreateModal"><i class="material-icons">add</i>添加</a></li>
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-black"><i class="material-icons">refresh</i>刷新</a></li>
                        </ul>
                    </li>
                </ul>
            </div>


            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>产品名称</th>
                            <th>单价(元)</th>
                            <th>数量</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Price</td>
                                <td>@item.Number</td>
                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" class="waves-effect waves-block edit-info" data-info-id="@item.Id" data-info-name="@item.Name" data-toggle="modal" data-target="#InfoEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                        <li><a href="#" class="waves-effect waves-block delete-info" data-info-id="@item.Id" data-info-name="@item.Name"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.Pager(Model.TotalCount, Model.PageSize, Model.PageIndex,
                    new PagerOptions
                    {
                        PageIndexParameterName = "PageIndex",
                        ContainerTagName = "ul",
                        CssClass = "pagination",
                        CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
                        DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>",
                        PagerItemTemplate = "<li>{0}</li>",
                        Id = "bootstrappager",

                    })
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ProductCreateModal" tabindex="-1" role="dialog" aria-labelledby="ProductCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">
                    <span>添加产品</span>
                </h4>
            </div>
            <div class="modal-body">
                <form id="form_validation" method="POST">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="Name" required>
                            <label class="form-label">产品名称</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="number" class="form-control" name="Price" required>
                            <label class="form-label">单价</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="number" class="form-control" name="Number" required>
                            <label class="form-label">数量</label>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                        <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="ProductEditModal" tabindex="-1" role="dialog" aria-labelledby="ProductEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>